In [74]:
import pandas as pd 
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [95]:
train = pd.read_csv(r'C:\Users\Suman.Dey\Desktop\Learning\Kaggle\Shipping Cost\input\train.csv')
test = pd.read_csv(r'C:\Users\Suman.Dey\Desktop\Learning\Kaggle\Shipping Cost\input\test.csv')

In [ ]:
train.head()

In [ ]:
test.head(3)

In [76]:
test.loc[:,'TYPE'] = 'test'
train.loc[:,'TYPE'] = 'train'

In [77]:
comb = pd.concat([train, test])

In [ ]:
comb.shape

In [ ]:
comb.isnull().sum()

In [78]:
# Impute missing values in Artist Reputation as 0
comb['Artist Reputation'].fillna(0, inplace = True)

In [79]:
comb['Height'].fillna(0, inplace = True)
comb['Width'].fillna(0, inplace = True)
comb['Weight'].fillna(0, inplace = True)

In [80]:
comb['Material'].fillna('Unknown', inplace = True)

In [81]:
comb['Transport'].unique()

array(['Airways', 'Roadways', nan, 'Waterways'], dtype=object)

In [82]:
comb['Transport'].fillna('Unknown', inplace = True)

In [83]:
comb['Remote Location'].unique()

array(['No', 'Yes', nan], dtype=object)

In [84]:
comb['Remote Location'].fillna('Unknown', inplace = True)

In [85]:
comb.head()

,Customer Id,Artist Name,Artist Reputation,Height,Width,Weight,Material,Price Of Sculpture,Base Shipping Price,International,Express Shipment,Installation Included,Transport,Fragile,Customer Information,Remote Location,Scheduled Date,Delivery Date,Customer Location,Cost,TYPE
0,fffe3900350033003300,Billy Jenkins,0.26,17.0,6.0,4128.0,Brass,13.91,16.27,Yes,Yes,No,Airways,No,Working Class,No,06/07/15,06/03/15,"New Michelle, OH 50777",-283.29,train
1,fffe3800330031003900,Jean Bryant,0.28,3.0,3.0,61.0,Brass,6.83,15.00,No,No,No,Roadways,No,Working Class,No,03/06/17,03/05/17,"New Michaelport, WY 12072",-159.96,train
2,fffe3600370035003100,Laura Miller,0.07,8.0,5.0,237.0,Clay,4.96,21.18,No,No,No,Roadways,Yes,Working Class,Yes,03/09/15,03/08/15,"Bowmanshire, WA 19241",-154.29,train
3,fffe350031003300,Robert Chaires,0.12,9.0,0.0,0.0,Aluminium,5.81,16.31,No,No,No,Unknown,No,Wealthy,Yes,05/24/15,05/20/15,"East Robyn, KY 86375",-161.16,train
4,fffe3900320038003400,Rosalyn Krol,0.15,17.0,6.0,324.0,Aluminium,3.18,11.94,Yes,Yes,Yes,Airways,No,Working Class,No,12/18/16,12/14/16,"Aprilside, PA 52793",-159.23,train

In [86]:
from datetime import datetime, timedelta

In [87]:
comb['Scheduled Date'] = pd.to_datetime(comb['Scheduled Date'])
comb['Delivery Date'] = pd.to_datetime(comb['Delivery Date'])

In [ ]:
comb.head()

In [88]:
comb['Day Diff'] = comb['Scheduled Date'] - comb['Delivery Date']
comb['Day Diff'] = comb['Day Diff'].astype(str)
comb[['Day', 'Unit']] = comb['Day Diff'].str.split(' ', 1, expand=True)

In [89]:
comb.drop(['Customer Id', 'Artist Name','Day Diff', 'Unit'], axis = 1, inplace = True)
comb['Cost']= abs(comb['Cost'])

In [90]:
comb['Day'] = comb['Day'].astype('int')

In [92]:
dummies = pd.get_dummies(comb['Material']).rename(columns=lambda x: 'Material_' + str(x))
comb = pd.concat([comb, dummies], axis=1)
comb = comb.drop(['Material'], inplace=True, axis=1)

In [93]:
comb.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [73]:
train.Material.nunique()

7